<div id=start>
    <h2>HoTeLbOoKiNg.in</h2>
     <div id=rightstart>
<button mat-button routerLink="/home"> Home</button>
<button mat-button routerLink="/signup"> SignUp</button>
 <button mat-button routerLink="/login"> Login</button>
 <button mat-button routerLink="/contact">Customer Care</button>
 </div>
</div>
<div id=cities>
 <button mat-button routerLink="/amritsar">Amritsar</button>
 <button mat-button routerLink="/delhi">Delhi</button>
 <button mat-button routerLink="/mumbai">Mumbai</button>
 <button mat-button routerLink="/shimla">Shimla</button>
 <button mat-button routerLink="/agra">Agra</button>
 <button mat-button routerLink="/kerala">Kerala</button>
 <button mat-button routerLink="/manali">Manali</button>
 <button mat-button routerLink="/goa">Goa</button>
 <button mat-button routerLink="/cities">View More</button>
</div>
