<div id=foot><div class="container">
    <div class="row">
      <div class="col-sm">
        <h3 >About Us</h3>
        <p>
            HotelBooking.in is a leading provider of hotel accommodation in India, offering booking services through its own network of localised websites and telephone call centres.
HotelBooking.in gives travellers one of the widest selections of accommodation on the net, including both independent and major chain hotels as well as self-catering in over hundreds of thousands properties in India. 
        </p>
      </div>
      <div class="col-sm">
        <h3 >HotelBooking</h3>
        <button mat-button>Hotels in Chandigarh</button>
    <button mat-button>Hotels in Delhi</button>
    <button mat-button>Hotels in Mumbai</button>
    <button mat-button>Hotels in Pune</button>
    <button mat-button>Hotels in Banglore</button>
    <button mat-button>Hotels in Hyderabad</button>
    <button mat-button>Hotels in Manali</button>
    <button mat-button>Hotels in Goa</button>
      </div>
      <div class="col-sm">
        <h3 >Follow Us</h3>
            <a href="https://www.instagram.com/nikki_singla" title="Instagram" target="_blank"><img  height="15%" width=15% src="assets/instagram.jpg"></a>
            <a href="https://m.facebook.com/nikkisingla712" title="Facebook" target="_blank"><img  height="15%" width=15% src="assets/facebook.jpg"></a>
            <a href="https://www.linkedin.com/in/nikita-singla-80204615b" title="linkedin" target="_blank"><img  height="15%" width=15% src="assets/link.jpg"></a>
            <a href="https://github.com/nikitasingla712" title="GitHub" target="_blank"><img  height="15%" width=15% src="assets/github.jpg"></a>
      </div>
    </div>
  </div>
<div class="container font-weight-bold c1" style="font-size: 10px">
    <div class="d-flex justify-content-center">
  &copy;Copyright  Nikita Singla
  </div>
  </div>
</div>