<app-header></app-header>
<header>
<div class="contact-section">

    <h1>Contact Us</h1>
    <form class="contact-form">
      <input type="text" class="contact-form-text" placeholder="Your name">
      <input type="email" class="contact-form-text" placeholder="Your email">
      <input type="text" class="contact-form-text" placeholder="Your phone">
      <textarea class="contact-form-text" placeholder="Your message(write here...)"></textarea>
      <button class="contact-form-btn"  routerLink="\home">Send</button>
    </form>
  </div>
  </header>
<app-footer></app-footer>
