<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<app-header></app-header>
<script>
    var list = document.querySelectorAll(".item a");

for (var i = 0; i < list.length; i++) {
	var url = list[i].children[0].getAttribute("src");
  list[i].style.backgroundImage="url('" + url + "')";
}</script>
<header>
<div id=city>
<h1>AMRITSAR</h1>
<ul class="container">
    <li class="item"><a href="#0" title="Golden Temple"><img src="assets/goldenTemple.jpg" alt="01"></a></li>
    <li class="item"><a href="#0" title="Durgiana Temple"><img src="assets/durgianaTemple.jpg" alt="02"></a></li>
	<li class="item"><a href="#0" title="Jallaianwala Bagh"><img src="assets/jallaianwalaBagh.jpg" alt="03"></a></li>
	<li class="item"><a href="#0" title="Khalsa College"><img src="assets/khalsaCollege.jpg" alt="04"></a></li>
	<li class="item"><a href="#0" title="Statue of Maharaja Ranjit Singh"><img src="assets/ranjit.jpg" alt="05"></a></li>
</ul>
<p>Amritsar(Punjab), historically also known as Rāmdāspur and colloquially as Ambarsar, is a city in northwestern India which is the administrative headquarters of the Amritsar district and is located in the Majha region of the Indian state of Punjab.</p>
<p>Amritsar has been chosen as one of the heritage cities for HRIDAY - Heritage City Development and Augmentation Yojana scheme of Government of India. Amritsar is home to Harmandir Sahib, popularly known as "the Golden Temple," one of Sikhism's most spiritually significant and most-visited gurudwaras. The city is also known for its wooden chessboards and chess pieces manufacturing industry.
</p></div>
<div id=hotel>
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
              <a title="Hotel D' Season">
                    <img src="assets/amritsarH1.jpg" alt="1" width="1100" height="500">
                <div class="caption">
                  <h3>Hotel Avera</h3>
                  <h5>Location:</h5>
                <p>Near Shri Ram Talai Mandir, Jahaj Ghar, Amritsar</p>
                <h5>Price:</h5>
                <p>$1277 <i id=fullprice>$2128</i></p>
                <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                </a>
              </div>
              </a>
          </div>
        </div>
          <div class="col-md-4">
            <div class="thumbnail">
                <a title="Hotel Winner Inn ">
                      <img src="assets/amritsarH2.jpg" alt="1" width="1100" height="500">
                  <div class="caption">
                    <h3>Hotel Winner Inn</h3>
                    <h5>Location:</h5>
                  <p>Queens Road, Amritsar</p>
                  <h5>Price:</h5>
                  <p>$1216 <i id=fullprice>$2026</i></p>
                  <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                  </a>
                </div>
                </a>
            </div>
    </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a title="Indraprasth Residency">
                          <img src="assets/amritsarH.jpg" alt="1" width="1100" height="500">
                      <div class="caption">
                        <h3> Royal Shelaton</h3>
                        <h5>Location:</h5>
                      <p>Near ISBT Amritsar</p>
                      <h5>Price:</h5>
                      <p>$2083 <i id=fullprice>$3471</i></p>
                      <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                      </a>
                    </div>
                    </a>
                </div>
    </div>
        </div>
         
</div>
<div id=hotel>
    <div class="row">
        <div class="col-md-4">
          <div class="thumbnail">
              <a title="Hotel 42">
                    <img src="assets/amritsarH3.jpg" alt="1" width="1100" height="500">
                <div class="caption">
                  <h3>Hotel 42</h3>
                  <h5>Location:</h5>
                <p>The Mall Road, INA Colony, Amritsar</p>
                <h5>Price:</h5>
                <p>$1624 <i id=fullprice>$2706</i></p>
                <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                </a>
              </div>
              </a>
          </div>
        </div>
          <div class="col-md-4">
            <div class="thumbnail">
                <a title="Hotel Highland INN">
                      <img src="assets/amritsarH4.jpg" alt="1" width="1100" height="500">
                  <div class="caption">
                    <h3>Hotel Highland INN</h3>
                    <h5>Location:</h5>
                  <p>queens road, Amritsar</p>
                  <h5>Price:</h5>
                  <p>$1218 <i id=fullprice>$2164</i></p>
                  <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                  </a>
                </div>
                </a>
            </div>
    </div>
            <div class="col-md-4">
                <div class="thumbnail">
                    <a title="Hotel Green Tower">
                          <img src="assets/amritsarH5.jpg" alt="1" width="1100" height="500">
                      <div class="caption">
                        <h3>Hotel Green Tower</h3>
                        <h5>Location:</h5>
                      <p>
                        Near Popular Bakery, INA Colony, Amritsar
                        </p>
                      <h5>Price:</h5>
                      <p>$1014 <i id=fullprice>$1690</i></p>
                      <a routerLink="/payment"><button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Book Now</button>
                      </a>
                    </div>
                    </a>
                </div>
    </div>
        </div>
         
</div>
</header>
<app-footer></app-footer>
