<app-header></app-header>
<div class="citiesview">
    <table>
        <tr>
            <td><a routerLink="/manali"><figure><img src="assets/manali.webp">
            <figcaption>MANALI</figcaption></figure></a></td>   
    <td><a routerLink="/amritsar"><figure><img src="assets/amritsar.jpg"><figcaption>AMRITSAR</figcaption></figure></a></td>
    <td><a routerLink="/delhi"><figure><img src="assets/delhi.jpg"><figcaption>DELHI</figcaption></figure></a></td>
    <td><a routerLink="/goa"><figure><img src="assets/goa.jpg"><figcaption>GOA</figcaption></figure></a></td>
        </tr>
        <tr>
    <td><a routerLink="/kerala"><figure><img src="assets/kerala.jpg"><figcaption>KERALA</figcaption></figure></a></td>
    <td><a routerLink="/agra"><figure><img src="assets/agra.jpg"><figcaption>AGRA</figcaption></figure></a></td>
    <td><a routerLink="/mumbai"><figure><img src="assets/mumbai.jpg"><figcaption>MUMBAI</figcaption></figure></a></td>
    <td><a routerLink="/shimla"><figure><img src="assets/Shimla.jpg"><figcaption>SHIMLA</figcaption></figure></a></td>
        </tr>
    </table>


</div>
<app-footer></app-footer>
